@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .input-style {
    @apply w-full px-3 py-2 bg-gray-700 rounded text-white;
  }
}

:root {
  --primary: oklch(54.6% 0.245 262.881);
}

.dark {
  --primary: oklch(54.6% 0.245 262.881);
}

@theme {
  --color-primary: var(--primary);
}

/* la c'est pour les inputs */
.input-style {
  @apply w-full px-3 py-2 rounded bg-gray-700 border border-gray-600 text-white;
}

/* Appliquer les couleurs à toute la page */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
